*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Friendszone';
  background: #7ed0ff;
}

button,
a,
input,
select {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-yellow {
  color: #fbd362;
}

.text-blue {
  color: #50b6fe;
}

.text-green {
  color: #5ac266;
}
