html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: "Friendszone";
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/Friendszone.ttf) format("truetype")
}

*,
*::after,
*::before {
    box-sizing: border-box
}

body {
    min-height: 100vh;
    font-family: "Friendszone";
    background: #7ed0ff
}

button,
a,
input,
select {
    font-family: inherit
}

img {
    display: block;
    max-width: 100%
}

button {
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0
}

.wrapper {
    min-height: 100vh;
    overflow-x: hidden
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

.overflow-hidden {
    overflow: hidden !important
}

.hidden {
    display: none !important
}

.text-yellow {
    color: #fbd362
}

.text-blue {
    color: #50b6fe
}

.text-green {
    color: #5ac266
}

.hero {
    background: url("/assets/img/hero/hero-background.png") center bottom no-repeat;
    background-size: cover;
    position: relative
}

.hero::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    top: 100%;
    height: 200px;
    background: #fbd26f
}

.hero__top {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between
}

.hero__container {
    padding-top: 100px;
    min-height: 70vh;
    display: flex;
    align-items: center
}

@media screen and (max-width: 1600px) {
    .hero__container {
        padding-top: 0
    }
}

@media screen and (max-width: 1440px) {
    .hero__container {
        padding-top: 50px
    }
}

@media screen and (max-width: 1023.98px) {
    .hero__container {
        flex-direction: column-reverse;
        align-items: center
    }
}

.hero__cat {
    width: 60%;
    flex-shrink: 0;
    position: relative;
    transform: translateY(100px);
    margin-top: auto
}

@media screen and (max-width: 1600px) {
    .hero__cat {
        width: 55%
    }
}

@media screen and (max-width: 1440px) {
    .hero__cat {
        transform: none
    }
}

@media screen and (max-width: 1023.98px) {
    .hero__cat {
        max-width: 640px;
        width: 100%;
        margin-top: 100px
    }
}

.hero__message {
    position: absolute;
    right: 150px;
    top: -200px
}

@media screen and (max-width: 1600px) {
    .hero__message {
        transform: scale(0.6) translateY(100px)
    }
}

@media screen and (max-width: 1440px) {
    .hero__message {
        right: 0;
        transform: scale(0.6) translateY(50px) translateX(-100px)
    }
}

@media screen and (max-width: 1280px) {
    .hero__message {
        transform: scale(0.6) translateY(50px) translateX(-50px)
    }
}

@media screen and (max-width: 767.98px) {
    .hero__message {
        transform: scale(0.8) translateY(50px) translateX(100px)
    }
}

@media screen and (max-width: 500px) {
    .hero__message {
        transform: scale(0.8) translateY(75px) translateX(50px)
    }
}

.hero__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px
}

@media screen and (max-width: 1600px) {
    .hero__col {
        margin-bottom: 40px
    }
}

@media screen and (max-width: 1440px) {
    .hero__col {
        margin-bottom: 90px
    }
}

@media screen and (max-width: 1023.98px) {
    .hero__col {
        align-items: center;
        margin-bottom: 0
    }
}

.hero__suptitle {
    max-width: 140px;
    width: 100%
}

.hero__title {
    text-shadow: #10161a 3px 0px 0px, #10161a 2.83487px .981584px 0px, #10161a 2.35766px 1.85511px 0px, #10161a 1.62091px 2.52441px 0px, #10161a .705713px 2.91581px 0px, #10161a -0.287171px 2.98622px 0px, #10161a -1.24844px 2.72789px 0px, #10161a -2.07227px 2.16926px 0px, #10161a -2.66798px 1.37182px 0px, #10161a -2.96998px .42336px 0px, #10161a -2.94502px -0.571704px 0px, #10161a -2.59586px -1.50383px 0px, #10161a -1.96093px -2.27041px 0px, #10161a -1.11013px -2.78704px 0px, #10161a -0.137119px -2.99686px 0px, #10161a .850987px -2.87677px 0px, #10161a 1.74541px -2.43999px 0px, #10161a 2.44769px -1.73459px 0px, #10161a 2.88051px -0.838247px 0px, #10161a 2px 5px 0px;
    color: #fbebd6;
    font-size: 100px;
    line-height: 90%;
    margin: 60px 0
}

.hero__title span {
    display: inline-block;
    color: #10161a;
    padding: 8px 31px 21px 31px;
    background: #fbebd6;
    border: 6px solid #10161a;
    box-shadow: 2px 5px 0px #10161a;
    border-radius: 16px;
    text-shadow: none;
    font-size: 128px;
    line-height: 70%;
    margin-top: 8px
}

@media screen and (max-width: 1440px) {
    .hero__title {
        font-size: 72px
    }

    .hero__title span {
        font-size: 92px
    }
}

@media screen and (max-width: 1023.98px) {
    .hero__title {
        margin: 30px 0 60px 0;
        text-align: center
    }
}

@media screen and (max-width: 500px) {
    .hero__title {
        font-size: 15vw;
        margin: 30px 0 40px 0
    }

    .hero__title span {
        padding: 8px 16px 21px 16px;
        font-size: 20vw
    }
}

.hero__row {
    align-items: center;
    display: flex;
    gap: 24px;
    flex-wrap: wrap
}

@media screen and (max-width: 1023.98px) {
    .hero__row {
        flex-direction: column;
        align-items: center;
        gap: 8px
    }
}

.hero__btn {
    font-size: 36px;
    color: #000;
    text-decoration: none;
    border: none;
    padding: 24px 32px;
    line-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero__btn_lg {
    background: url("/assets/img/hero/hero-btn-bg_lg.svg") center center no-repeat;
    background-size: contain;
    padding: 30px 50px
}

.hero__btn_sm {
    background: url("/assets/img/hero/hero-btn-bg_sm_1.svg") center center no-repeat;
    background-size: contain
}

.hero__btn_sm:nth-child(2) {
    background: url("/assets/img/hero/hero-btn-bg_sm_2.svg") center center no-repeat;
    background-size: contain
}

.hero__btn_sm:nth-child(3) {
    background: url("/assets/img/hero/hero-btn-bg_sm_3.svg") center center no-repeat;
    background-size: contain
}

.hero__socials {
    display: flex;
    align-items: center;
    gap: 24px
}

.hero-message__text {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    padding: 0 0 100px 0;
    white-space: pre-wrap
}

@media screen and (max-width: 500px) {
    .hero-message__text {
        font-size: 32px;
        padding: 0 0 70px 0
    }
}

.lang {
    position: relative;
    max-width: -moz-max-content;
    max-width: max-content
}

@media screen and (max-width: 1024px) {
    .lang_active .lang__list {
        opacity: 1;
        transform: translateY(0);
        visibility: visible
    }
}

@media screen and (min-width: 1024px) {
    .lang:hover .lang__list {
        opacity: 1;
        transform: translateY(0);
        visibility: visible
    }
}

.lang__icon {
    color: #fbebd6;
    cursor: pointer;
    width: 32px;
    height: 32px
}

.lang__list {
    visibility: hidden;
    background: #fff;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    width: -moz-max-content;
    width: max-content;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 200ms, transform 200ms
}

.lang__item {
    cursor: pointer;
    padding: 8px 24px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition: color 200ms
}

.lang__item a,
.lang__item p,
.lang__item span,
.lang__item div {
    color: inherit;
    text-decoration: inherit;
    transition: inherit
}

.lang__item:hover {
    color: #fbebd6
}

.tokenomics {
    padding: 100px 0;
    background: url("/assets/img/tokenomics/tokenomics-bg.jpg") center bottom no-repeat;
    background-size: cover
}

.tokenomics__marque {
    transform: translateY(100px)
}

.tokenomics__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px
}

@media screen and (max-width: 1023.98px) {
    .tokenomics__container {
        flex-direction: column-reverse;
        align-items: center
    }
}

.tokenomics__boat {
    max-width: 50%;
    animation: boat 1.5s ease-in-out infinite alternate
}

@media screen and (max-width: 1023.98px) {
    .tokenomics__boat {
        max-width: 640px
    }
}

.tokenomics__col {
    max-width: 640px
}

@media screen and (max-width: 1023.98px) {
    .tokenomics__col {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.tokenomics__badge {
    display: inline-block;
    font-size: 24px;
    color: #000;
    padding: 8px 16px;
    background: #fbebd6;
    border: 2px solid #000;
    border-radius: 111px;
    transform: rotate(-3deg)
}

.tokenomics__title {
    font-size: 100px;
    color: #000;
    margin: 24px 0
}

@media screen and (max-width: 1200px) {
    .tokenomics__title {
        font-size: 72px
    }
}

@media screen and (max-width: 640px) {
    .tokenomics__title {
        font-size: 64px
    }
}

.tokenomics__text {
    font-size: 24px;
    margin-bottom: 64px
}

@media screen and (max-width: 1023.98px) {
    .tokenomics__text {
        font-size: 20px
    }
}

@media screen and (max-width: 640px) {
    .tokenomics__text {
        font-size: 18px
    }
}

.tokenomics__items {
    position: relative;
    max-width: -moz-max-content;
    max-width: max-content
}

.tokenomics__star {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60%, -20%) rotate(9deg)
}

.tokenomics__star span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px
}

@media screen and (max-width: 1400px) {
    .tokenomics__star {
        transform: translate(20%, -50%) rotate(9deg) scale(0.8)
    }
}

@media screen and (max-width: 1023.98px) {
    .tokenomics__star {
        transform: translate(40%, -40%) rotate(9deg) scale(0.8)
    }
}

@media screen and (max-width: 640px) {
    .tokenomics__star {
        transform: translate(40%, -50%) rotate(9deg) scale(0.6)
    }
}

@media screen and (max-width: 400px) {
    .tokenomics__star {
        transform: translate(40%, -50%) rotate(9deg) scale(0.5)
    }
}

.tokenomics__items-inner {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    gap: 8px;
    padding: 0 32px
}

@media screen and (max-width: 640px) {
    .tokenomics__items-inner {
        padding: 0 16px;
        text-align: center
    }
}

.tokenomics__item {
    flex: 1;
    display: inline-flex;
    flex-direction: column
}

.tokenomics__label {
    font-size: 24px;
    color: #0d3958;
    margin-bottom: 16px
}

@media screen and (max-width: 1200px) {
    .tokenomics__label {
        font-size: 20px;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 640px) {
    .tokenomics__label {
        font-size: 18px
    }
}

.tokenomics__value {
    font-size: 44px;
    color: #0d3958
}

@media screen and (max-width: 1200px) {
    .tokenomics__value {
        font-size: 32px
    }
}

@media screen and (max-width: 640px) {
    .tokenomics__value {
        font-size: 28px
    }
}

@media screen and (max-width: 400px) {
    .tokenomics__value {
        font-size: 24px
    }
}

@keyframes boat {
    0% {
        transform: rotate(1deg) scale(1) translate(0%, 2%)
    }

    50% {
        transform: rotate(-6deg) scale(1) translate(0%, 5%)
    }

    100% {
        transform: rotate(4deg) scale(1) translate(2%, 5%)
    }
}

.phone {
    position: relative
}

.phone__background {
    position: relative;
    z-index: 10;
    pointer-events: none
}

.phone__container {
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px
}

@media screen and (max-width: 400px) {
    .phone__container {
        padding: 20px
    }
}

.phone__top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fb2929
}

.phone__avatar {
    width: 48px;
    height: 48px;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.phone__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
    justify-content: flex-end;
    padding-bottom: 100px
}

.phone__tokenomics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: url("/assets/img/tokenomics/tokenomics-item-background.svg") center center no-repeat;
    background-size: contain;
    height: 68px;
    padding: 16px;
    width: 100%
}

.phone__tokenomics span {
    font-size: 18px
}

.phone__tokenomics strong {
    font-size: 32px
}

.phone__bottom {
    flex-shrink: 0
}

.phone__button {
    color: #000;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 16px
}

.phone__button_red {
    background: url("/assets/img/tokenomics/button-background_red.svg") center center no-repeat;
    background-size: contain
}

.phone__button_blue {
    background: url("/assets/img/tokenomics/button-background_blue.svg") center center no-repeat;
    background-size: contain
}

.marque {
    width: 100%;
    overflow: hidden;
    background: #1b1a24;
    color: #363544;
    font-size: 32px;
    padding: 12px 0
}

.marque div {
    display: flex;
    gap: 16px;
    align-items: center;
    width: -moz-max-content;
    width: max-content;
    text-wrap: nowrap;
    animation: marque 360s linear infinite both
}

@media screen and (max-width: 1023.98px) {
    .marque {
        font-size: 24px
    }
}

@keyframes marque {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-100%)
    }
}

.community {
    margin-top: -100px;
    position: relative;
    z-index: 2;
    background: url("/assets/img/community/community-background.png") top center no-repeat;
    background-size: cover
}

@media screen and (max-width: 1023.98px) {
    .community {
        background-position: top left
    }
}

.community__marque_top {
    width: 120%;
    transform: rotate(-5deg) translateX(-5vw) translateY(60px)
}

@media screen and (max-width: 1023.98px) {
    .community__marque_top {
        transform: rotate(-5deg) translateX(-5vw) translateY(110px)
    }
}

.community__marque_bottom {
    background: #1a1f24;
    color: #80a4a7;
    transform: rotate(1deg) translateY(20px)
}

.community__container {
    padding: 100px 15px 50px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px
}

@media screen and (max-width: 1023.98px) {
    .community__container {
        flex-direction: column-reverse
    }
}

.community__col {
    display: flex;
    flex-direction: column;
    max-width: 740px;
    width: 100%;
    gap: 32px;
    color: #fff
}

@media screen and (max-width: 1023.98px) {
    .community__col {
        align-items: center;
        text-align: center
    }
}

.community__illustration {
    max-width: 60%;
    margin-right: -7vw;
    animation: community-illustration 2s ease-in-out infinite alternate
}

@media screen and (max-width: 767.98px) {
    .community__illustration {
        max-width: 80%
    }
}

.community__title {
    font-size: 100px;
    line-height: 70%
}

@media screen and (max-width: 1023.98px) {
    .community__title {
        font-size: 72px
    }
}

@media screen and (max-width: 767.98px) {
    .community__title {
        font-size: 64px
    }
}

.community__text {
    font-size: 24px
}

@media screen and (max-width: 1023.98px) {
    .community__text {
        font-size: 20px
    }
}

@media screen and (max-width: 767.98px) {
    .community__text {
        font-size: 18px
    }
}

.community__btns {
    display: flex;
    gap: 32px
}

@media screen and (max-width: 640px) {
    .community__btns {
        gap: 10px
    }
}

.community__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    color: #000;
    font-size: 24px;
    padding: 20px 32px;
    text-decoration: none;
    border: none
}

.community__btn_red {
    background: url("/assets/img/community/button-background_red.svg") center center no-repeat;
    background-size: contain;
    padding: 20px 50px
}

.community__btn_gray {
    color: #fff;
    background: url("/assets/img/community/button-background_gray.svg") center center no-repeat;
    background-size: contain
}

@media screen and (max-width: 640px) {
    .community__btn {
        font-size: 18px;
        padding: 20px
    }
}

@keyframes community-illustration {
    from {
        transform: scale(1) rotate(0deg)
    }

    to {
        transform: scale(1.1) rotate(-10deg)
    }
}

.ready {
    background: url("/bg.webp") 25vw top no-repeat, #334131;
    background-position: left;
    position: relative;
    padding: 180px 0
}

@media screen and (max-width: 1300px) {
    .ready {
        background: url("/bg.webp") 10vw top no-repeat, #334131
    }
}

.ready__top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none
}

.ready__col {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
    gap: 32px;
    color: #b6cbb3
}

.ready__title {
    font-size: 74px;
    line-height: 80%;
    max-width: 540px;
    transform: rotate(-4deg)
}

@media screen and (max-width: 1023.98px) {
    .ready__title {
        font-size: 64px
    }
}

@media screen and (max-width: 767.98px) {
    .ready__title {
        font-size: 52px
    }
}

.ready__text {
    font-size: 24px;
    transform: rotate(-4deg)
}

@media screen and (max-width: 1023.98px) {
    .ready__text {
        font-size: 20px
    }
}

@media screen and (max-width: 767.98px) {
    .ready__text {
        font-size: 18px
    }
}

.contract {
    position: relative;
    height: 140px
}

@media screen and (max-width: 767.98px) {
    .contract {
        height: 25vw
    }
}

.contract__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none
}

.contract__value {
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 32px;
    color: #334131;
    text-wrap: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: left;
    gap: 0
}

@media screen and (max-width: 767.98px) {
    .contract__value {
        font-size: 4vw
    }
}

.contract__label {
    font-size: 24px
}

@media screen and (max-width: 767.98px) {
    .contract__label {
        font-size: 3vw
    }
}

.contract__copy {
    position: absolute;
    z-index: 10;
    right: -20px;
    bottom: -24px;
    background: url("/assets/img/ready/ready-copy-button-background.svg") center center no-repeat;
    background-size: contain;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    transform: rotate(-4deg)
}

@media screen and (max-width: 767.98px) {
    .contract__copy {
        padding: 2vw 3vw;
        font-size: 3vw;
        right: 0;
        bottom: 0
    }
}

.footer {
    background: #1d261c;
    padding: 40px 0
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px
}

@media screen and (max-width: 640px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #b6cbb3
}

@media screen and (max-width: 640px) {
    .footer__col {
        align-items: center;
        gap: 16px
    }
}

.footer__col .footer__socials {
    display: none
}

@media screen and (max-width: 640px) {
    .footer__col .footer__socials {
        display: flex
    }
}

.footer__logo {
    font-size: 44px;
    color: inherit;
    text-decoration: none
}

.footer__socials {
    display: flex;
    gap: 16px
}

@media screen and (max-width: 640px) {
    .footer__socials {
        display: none
    }
}

.footer__btn {
    color: #334131;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    background: url(/assets/img/footer/footer-button-background.svg) center center no-repeat;
    background-size: contain;
    padding: 19px 32px;
    text-decoration: none;
    gap: 12px
}

.footer__btn_sm {
    background: url(/assets/img/footer/footer-button-background_sm.svg) center center no-repeat;
    background-size: contain
}

.footer__copyright {
    font-size: 18px
}

/*# sourceMappingURL=main.css.map */